body {
    background-size: 600px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
  .articleBody {
    height: 200px;
    font-size: 20px;
    overflow-y: scroll;
    line-height: 150%;
  }
  #btnSignUp {
    background-color: #d8879b;
  }
  #nameComment {
    /*border-bottom: 2px solid #ec407a;*/
    font-weight: bold;
    background: #d8879b;
    color: white;
  }
  .input-field input[type="text"]:focus + label {
    color: #d8879b;
  }
  .input-field input[type="text"]:focus {
    border-bottom: 1px solid #d8879b;
    box-shadow: 0 1px 0 0 #000;
  }
  .input-field .prefix.active {
    color: #d8879b;
  }
  .topnav {
    background-color: #d8879b;
  }
  